<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">TaskCase</h1>
            <p class="lead">This is a minimal task manager application.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-success" href="/login" role="button">Login</a>
                <a class="btn btn-primary" href="/register" role="button">Register</a>
            </p>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>