<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/nav.html :: navbar"></div>
<div class="container">
    <div class="card m-5">
        <div class="card-header">
            <h2 class="m-0">Create a new account</h2>
        </div>
        <div class="card-body">
            <div th:if="${err}" th:text="${err}" class="alert alert-danger"></div>
            <form action="/register" method="post" >
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input required type="text" class="form-control" id="inputUsername" name="username" placeholder="Pick a username">
                </div>

                <div class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <input required type="text" class="form-control" id="inputFirstName" name="firstName" placeholder="First Name">
                </div>

                <div class="form-group">
                    <label for="inputLastName">Last Name</label>
                    <input required type="text" class="form-control" id="inputLastName" name="lastName" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input required type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                </div>

                <a type="submit" class="btn btn-danger" href="/">Return to Home</a>
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>