<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/nav.html :: navbar(no_dash=${no_dash})"></div>
    <div class="container">
        <h1 th:unless="${admin_heading}" class="mt-5"><span th:text="${current_user}"></span>'s tasks</h1>
        <h1 th:if="${admin_heading}" class="mt-5">All tasks</h1>
        <div th:unless="${no_actions}">
            <a type="button" class="btn btn-success" href="/tasks/create">Create New Task</a>
            <a type="button" class="btn btn-inline btn-danger" href="/logout">Log Out</a>
        </div>

        <div class="card mt-2">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item"><a th:classappend="${filter=='pending'} ? 'active' : ''" class="nav-link" th:href="${attendee} ? '?attendee=' + ${attendee} + '&list=pending' :'?list=pending'">Pending</a></li>
                    <li class="nav-item"><a th:classappend="${filter=='completed'} ? 'active' : ''" class="nav-link" th:href="${attendee} ? '?attendee=' + ${attendee} + '&list=completed' :'?list=completed'">Completed</a></li>
                    <li class="nav-item"><a th:classappend="${filter=='postponed'} ? 'active' : ''" class="nav-link" th:href="${attendee} ? '?attendee=' + ${attendee} + '&list=postponed' :'?list=postponed'">Postponed</a></li>
                    <li class="nav-item"><a th:classappend="${filter=='cancelled'} ? 'active' : ''" class="nav-link" th:href="${attendee} ? '?attendee=' + ${attendee} + '&list=cancelled' :'?list=cancelled'">Cancelled</a></li>
                </ul>
            </div>
            <div class="card-body p-0">
                <div th:if="${tasks.isEmpty()}" class="m-5 text-center">There are no tasks.</div>
                <ul class="list-group list-group-flush">
                    <div th:each="task : ${tasks}">
                        <a th:href="'/tasks/edit/' + ${task.id}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 th:text="${task.title}" class="mb-1"></h5>
                                <small>Edit</small>
                            </div>
                            <p th:text="${task.description}" class="mb-1"></p>
                            <small th:text="${task.deadline}">Deadline</small>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>