<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${edit} ? 'Edit task':'Create new task'"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="fragments/nav.html :: navbar"></div>
    <div class="container">
        <div class="card m-5">
            <div class="card-header">
                <h2 class="m-0" th:text="${edit} ? 'Edit task':'Create a new task'"></h2>
            </div>
            <div class="card-body">
                <div th:if="${err}" th:text="${err}" class="alert alert-danger"></div>
                <form th:action="${edit} ? '/tasks/edit/' + ${old_task.id} : '/tasks/create'" method="post">
                    <div class="form-group">
                        <label for="inputTaskTitle">Title</label>
                        <input  th:value="${old_task.title}" type="text" class="form-control" id="inputTaskTitle" name="title" placeholder="Enter a title for the task">
                    </div>

                    <div class="form-group">
                        <label for="inputTaskDescription">Description</label>
                        <input th:value="${old_task.description}"  type="text" class="form-control" id="inputTaskDescription" name="description" placeholder="Enter a description for the task">
                    </div>

                    <div class="form-group">
                        <label for="inputTaskDeadline">Deadline</label>
                        <input th:value="${old_task.deadline}" type="date" class="form-control" name="deadline" id="inputTaskDeadline">
                    </div>

                    <div class="form-group">
                        <label for="inputTaskDeadline">State</label>
                        <select th:value="${old_task.state}" class="form-control" name="state">
                            <option value="0">Pending</option>
                            <option value="1">Completed</option>
                            <option value="2">Postponed</option>
                            <option value="3">Cancelled</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>